// #anim {
// width: 100%;
// height: 100%;
// background: url(../images/test.png) repeat-y;
// -webkit-animation: backgroundScroll 20s linear infinite;
// animation: backgroundScroll 20s linear infinite;
// }

// @-webkit-keyframes backgroundScroll {
// from {background-position: 0 0;}
// to {background-position: -400px 0;}
// }

// @keyframes backgroundScroll {
// from {background-position: 0 0;}
// to {background-position: -400px 0;}
// }

body{
  background-color: white;
  color: #444F5A ;
  height: 100vh;
  flex-direction : column;
  display: flex;
  text-align : center;
  justify-content: center;
  font-family: 'Open Sans', sans-serif;
  font-weight:400;
  font-size: 25px;
  position: relative;
  line-height: 1.8
}

.id-text{
  padding: 0 10vh;
  height: 90%;
  flex-direction : column;
  display: flex;
  text-align : center;
  justify-content: center;

  .title{
    height: 25%;
    // Colors for alphabet iteration
    .name{
      display: flex;
      text-align: center;
      justify-content: center;
      font-family:'Space Mono', monospace;
      font-size: 40px;

      .color-orange{
        color: #fe705b;
      }
      .color-yellow{
        color: #efa505;
      }
      .color-pink{
        color: #f7286b;
      }
      .color-blue{
        color: #1bc3f3;
      }
      .color-purple{
        color: #8970fe;
      }
       .color-green{
        color: #00ADB5;
      }
    }

    .city{
      font-size: 20px;
      margin-bottom: 50px;
      font-family: 'Space Mono', monospace;
    }
  }

  .job-text{
     height: auto;

    .highlight{
      font-weight: 600;
    }
    // Links in text
    a {
      text-decoration: none;
      font-family:'Space Mono', monospace;
      color: #00ADB5;
    }
    .touchplan-link:hover{
      color: #fe705b;
      text-decoration:none;
    }
    .le-wagon-link:hover{
      color: #f7286b;
      text-decoration:none;
    }
    .startup-inst-link:hover{
      color: #efa505;
      text-decoration:none;
    }
    .email-link:hover{
      color: #8970fe;
      text-decoration:none;
    }
  }
}


// Bottom icons : social media
.bottom-note{
 height: 10%;
 font-size : 25px;
 text-align: center;
 padding-bottom: 20px;
 .fa{
  padding: 0 10px;
  text-decoration: none;
  &:hover {
    color: #efa505;
  }
 }
  .fa-behance{
      color: #fe705b;
  }
  .fa-linkedin{
      color: #00ADB5;
    }
  .fa-instagram{
      color: #f7286b;
    }
  .fa-twitter{
      color: #1bc3f3;
   }
 }

 // Responsivness

  // Mobile format
  @media (max-width: 480px) {
    body{
    font-size: 14px;
    }
    .color-yellow, .color-purple, .color-green, .color-orange, .color-pink, .color-blue{
    font-size:30px;
      }

    .city{
      font-size: 10px;
      margin-bottom: 10px;
      }
    }

  // Tablet format
  @media only screen and (min-width: 481px) and (max-width: 1024px){
    body{
    font-size: 20px;
     }

    .color-yellow, .color-purple, .color-green, .color-orange, .color-pink, .color-blue{
    font-size: 40px;
      }

    .city{
      font-size: 15px;
      margin-bottom: 10px;
      }
    }



