body{
  background-color: white;
  color: #444F5A ;
  height: 100vh;
  flex-direction : column;
  display: flex;
  text-align : center;
  justify-content: center;
  font-family: 'Open Sans', sans-serif;
  font-weight:400;
  font-size: 25px;
  position: relative;
  line-height: 50px;
}

.id-text{
  padding: 40px 15vh 40px 15vh;
  height: 95%;
}

// Colors for alphabet iteration
.name{
  display: flex;
  text-align: center;
  justify-content: center;
  font-family:'Space Mono', monospace;
  padding : 20px 0 10px 0;
  font-size: 45px;

  .color-orange{
    color: #fe705b;
  }
  .color-yellow{
    color: #efa505;
  }
  .color-pink{
    color: #f7286b;
  }
  .color-blue{
    color: #1bc3f3;
  }
  .color-purple{
    color: #8970fe;
  }
   .color-green{
    color: #00ADB5;
  }
}

.city{
  padding-bottom: 60px;
  font-size: 20px;
  font-family: 'Space Mono', monospace;
}

.greeting{
font-size: 30px;
}

.highlight{
  font-weight: 600;
}
// Links in text
a {
  text-decoration: none;
  font-family:'Space Mono', monospace;
  color: #00ADB5;
}
.touchplan-link:hover{
  color: #fe705b;
  text-decoration:none;
}
.le-wagon-link:hover{
  color: #f7286b;
  text-decoration:none;
}
.startup-inst-link:hover{
  color: #efa505;
  text-decoration:none;
}
.email-link:hover{
  color: #8970fe;
  text-decoration:none;
}

// Bottom icons : social media
.bottom-note{
 height: 10%;
 font-size : 25px;
 text-align: center;
 padding-bottom: 20px;
 .fa{
  padding: 0 10px;
  text-decoration: none;
  &:hover {
    color: #efa505;
  }
 }
}
.fa-behance{
    color: #fe705b;
}
.fa-linkedin{
    color: #00ADB5;
  }
.fa-instagram{
    color: #f7286b;
  }
.fa-twitter{
    color: #1bc3f3;
 }


